@model Online_Book_Store.Models.Registration

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login Failed, check details");
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div class="editor-label">@Html.LabelFor(model=> model.email)</div>
            <div class="editor-field">@Html.TextBoxFor(model=> model.email)
                @Html.ValidationMessageFor(model=>model.email)
            </div>
            <div class="editor-label">@Html.LabelFor(model=>model.password)</div>
            <div  class="editor-field">@Html.PasswordFor(model=>model.password)
                @Html.ValidationMessageFor(model=>model.password)
            </div>
            <br />
            <div>
                <input type="submit" value="Log In" />
            </div>
        </fieldset>
    </div>
}